<p id="notice"><%= flash[:notice] %></p>
<!--色変える場合用にid=notice取っておく-->

<h1>Books</h1>

<% @books.each do |book| %>
<div>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
  <p><%= book.user.name %></p>
</div>
<% end %>